<ion-view view-title="6. Adho Mukha Svanasana">

    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="urdhvamukhasvanasana">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="uttanasana2">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content">
            <img src="img/adho-mukha-svanasana.png" class="asana-img">
        </div>
        <p class="asana-alias text-center">(as known as Downward-Facing Dog Pose)</p>
        <p class="asana-text">Exhale, tuck your toes under and use the strength of your belly to pull your hips up and back.
            Establish a straight line from your wrists through your shoulders, spine and hips. You can bend your knees,
            take your feet wider apart or lift your heels away from the ground. Relax your neck. </p>
        <p class="asana-text">Stay for 5 breaths, feeling the flow of breath and holding the pose with strength but not strain.</p>
    </ion-content>
</ion-view>
