<ion-view view-title="adho-mukha-svanasana">

    <ion-nav-buttons side="primary">
      <button class="button" ui-sref="urdhvamukhasvanasana">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button" ui-sref="uttanasana2">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <h1>adho-mukha-svanasana</h1>
    </ion-content>
</ion-view>
