<ion-view view-title="4. Chaturanga Dandasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="uttanasana1">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="urdhvamukhasvanasana">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content">
            <img src="img/chaturanga-dandasana.png" class="asana-img">
        </div>
        <p class="asana-text">Exhale and step to a plank. On the same exhalation, shift your weight forward,
            bend at the elbows and lower your body halfway to the ground until your upper arms are parallel to the floor.</p>
        <p class="asana-text">Be careful not to sink your hips or collapse your core. To modify, lower your knees or whole body to the ground.</p>
    </ion-content>
</ion-view>
