<ion-view view-title="1. Tadasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="main">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="urdhvahastasana1">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content">
            <img src="img/tadasana1.png" class="asana-img">
        </div>
        <p class="asana-alias text-center">(as known as Mountain Pose)</p>
        <p class="asana-text">Start by establishing equal weight on both feet.
            Bring your palms together in front of the heart center.</p>
        <p class="asana-text">Pause and imagine a sun at your heart, shining brighter with each inhalation.</p>
    </ion-content>
</ion-view>
