<ion-view view-title="9. Tadasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="urdhvahastasana2">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content">
            <img src="img/tadasana2.png" class="asana-img">
        </div>
        <p class="asana-text">Exhale and return to the Mountain Pose. Pause and feel the benefits of this sequence.</p>
        <p class="asana-text">Congratulations, you did it! :)</p>
        <div class="col text-center end-btn">
            <button ui-sref="main" class="button button-full button-energized">Back to main</button>
        </div>
    </ion-content>
</ion-view>
