<ion-view view-title="5. Urdhva Mukha Svanasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="chaturangadandasana">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="adhomukhasvanasana">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content">
            <img src="img/urdhva-mukha-svanasana.png" class="asana-img">
        </div>
        <p class="asana-alias text-center">(as known as Upward-Facing Dog Pose)</p>
        <p class="asana-text">Inhale and press back through your toes to come to the tops of your feet.
            At the same time, press down through your hands and draw your shoulders back to broaden your chest, letting the inhalation expand your heart.
            Activate your feet and legs to float your kneecaps, thighs, and hips.</p>
        <p class="asana-text">You can practice Bhujangasana (Cobra Pose) here, keeping your elbows bent and your legs rooted to the floor.</p>
    </ion-content>
</ion-view>
