<ion-view view-title="8. Urdhva Hastasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="uttanasana2">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="tadasana2">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content">
            <img src="img/urdhva-hastasana2.png" class="asana-img">
        </div>
        <p class="asana-text">Inhale, turn your palms out and sweep your arms up and overhead. The spine can take a gentle backbend,
            lifting the heart and expanding the chest. Keep the forehead relaxed and the face soft.</p>
    </ion-content>
</ion-view>
