<ion-view view-title="2. Urdhva Hastasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="tadasana1">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="uttanasana1">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content">
            <img src="img/urdhva-hastasana1.png" class="asana-img">
        </div>
        <p class="asana-alias text-center">(as known as Upward Salute)</p>
        <p class="asana-text">Turn your palms out, inhale and sweep your arms up and overhead. Lift the heart and expand the chest.
            Let this movement be a gesture of opening to life. Keep the forehead relaxed and the face soft.</p>
    </ion-content>
</ion-view>
