<ion-view view-title="3. Uttanasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="urdhvahastasana1">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="chaturangadandasana">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content uttanasana">
            <img src="img/uttanasana1.png" class="asana-img">
        </div>
        <p class="asana-alias text-center">(as known as Standing Forward Bend)</p>
        <p class="asana-text">Exhale and fold forward at the hips.
            Keep the spine straight, then let it softly round into a full forward bend. You can bend your knees to ease strain.</p>
    </ion-content>
</ion-view>
