<ion-view view-title="7. Uttanasana">
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ui-sref="adhomukhasvanasana">
          <i class="ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ui-sref="urdhvahastasana2">
          <i class="ion-arrow-right-c"></i>
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="col text-center asana-content uttanasana">
            <img src="img/uttanasana2.png" class="asana-img">
        </div>
        <p class="asana-text">Exhale and fold forward at the hips.
            Keep the spine straight, then let it softly round into a full forward bend. You can bend your knees to ease strain.</p>
    </ion-content>
</ion-view>
